@model ApplicationUser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Editor?</h3>
<div>
    <h4>EditorUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-info fa fa-save">&ensp;Delete</button>
            <a href="javascript:history.go(-1)" class="btn btn-default fa fa-arrow-left">&ensp;Back</a>
        </div>
    </form>
</div>
