<li><a asp-area="" asp-controller="EditorUsers" asp-action="Index">Editors</a></li>
<li><a asp-area="" asp-controller="Softwares" asp-action="Own">Our Softwares</a></li>
<li><a asp-area="" asp-controller="Plugins" asp-action="Index">Our Plugins</a></li>