<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Softwares<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-area="" asp-controller="Softwares" asp-action="Index">Browse</a></li>
        <li><a asp-area="" asp-controller="Softwares" asp-action="Own">Company Softwares</a></li>
    </ul>
</li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Plugins<span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a asp-area="" asp-controller="Plugins" asp-action="Index">Browse</a></li>
        <li><a asp-area="" asp-controller="Plugins" asp-action="Own">Company Plugins</a></li>
        <li><a asp-area="" asp-controller="Plugins" asp-action="ExternalPluginsForOwnSoftware">Foreign Plugins for our Softwares</a></li>
    </ul>
</li>
