<li><a asp-area="" asp-controller="Softwares" asp-action="Index">Softwares</a></li>
<li><a asp-area="" asp-controller="Plugins" asp-action="Index">Plugins</a></li>
<li><a asp-area="" asp-controller="LicenseKeys" asp-action="NormalUserIndex">My License Keys</a></li>