@model IEnumerable<WebApplication2.Models.Software>
@using WebApplication2.Services
@using WebApplication2.Models.UserEntities
@inject IUserEntityLoader UserEntityServices

<h2>Our Softwares</h2>

@if ((await UserEntityServices.GetCurrentUserEntityType(User)) >= UserEntityType.Editor)
{
<p>
    <a asp-action="Create"><i class="fa fa-plus-circle"></i> Create New</a>
</p>
}
@await Html.PartialAsync("_Index")