@model IEnumerable<SPM.Models.Software>
@using SPM.Services
@using SPM.Models.UserEntities
@inject IUserEntityLoader UserEntityServices

<h2>Our Softwares</h2>

@if ((await UserEntityServices.GetCurrentUserEntityType(User)) >= UserEntityType.Editor)
{
<p>
    <a asp-action="Create" class="btn btn-success fa fa-plus">&ensp;New</a>
</p>
}
@await Html.PartialAsync("_Index")