@model IEnumerable<SPM.Models.Software>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success fa fa-plus">&ensp;Create New</a>
</p>
@await Html.PartialAsync("_Index");